---
layout: default
---

<br>

<p style="text-align:center;font-size:50pt; text-indent:0;">

    <strong><span style='font-family: "Comfortaa";'>a.</span><span style='font-family: "Verdana";'>tt</span><span style='font-family: "Comfortaa";'>e</span><span style='font-family: "Economica";'>n</span><span style='font-family: "Verdana";'>t</span><span style='font-family: "Comfortaa";'>.io</span><span style='font-family: "Economica";'>/n</span></strong>
</p>
<p style="text-align:center; text-indent:0;margin-top: -10%;"><em>a short story for our fractured minds</em></p>
<p style="text-align:center; text-indent:0;">Terise Cruven</p>
<div class="v3">
<div class="fixme">
    <span style="color:white;">-</span>
    <iframe id="fullmovie" style="margin: 0 auto;" width="1000px" height="500px" src="https://www.youtube.com/embed/ki4wyPflXeQ?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe id="medmovie" style="margin: 0 auto;" width="480px" height="240px" src="https://www.youtube.com/embed/ki4wyPflXeQ?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe id="mobilemovie" style="margin: 0 auto;" width="420px" height="240px" src="https://www.youtube.com/embed/ki4wyPflXeQ?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <span style="text-align:center;">↓ transcript ↓</span>
</div>
</div>
<br />
<!-- <p style="text-align:center; text-indent:0; font-size:11pt;">
<strong>
<a href='/?v=4'>full text</a>
</strong></p> -->
<p style="text-align:center; text-indent:0; font-size:11pt;">
<strong>Contents:</strong> <a href='#ch1'>1</a>,
<a href='#ch2'>2</a>,
<a href='#ch3'>3</a>,
<a href='#ch4'>4</a>,
<a href='#ch5'>5</a>,
<a href='#ch6'>6</a>,
<a href='#ch7'>7</a>,
<a href='#ch8'>8</a>,
<a href='#ch9'>9</a>,
<a href='#ch10'>10</a>,
<a href='#ch11'>11</a>,
<a href='#ch12'>12</a>
</p>

<br>
    {% include ch1.html %}


<br>
<div id="ch2_wrapper">
    {% include ch2.html %}
</div>

<br>
<div id="ch3_wrapper">
    {% include ch3.html %}
</div>

<br>

    {% include ch4.html %}
<br>

    {% include ch5.html %}
<div class="v7">
    <p >
    <a href="#" onclick="return toggle_element('load_more_1');">load more</a>
    </p>
</div>
<div class="notv7" id="load_more_1">
    <br>

    {% include ch6.html %}

    <br>

    {% include ch7.html %}

    <br>

    {% include ch8.html %}

    <br>

    {% include ch9.html %}

    <br>

    {% include ch10.html %}
<div class="v7">
    <p >
    <a href="#" onclick="return toggle_element('load_more_2');">load more</a>
    </p>
</div>
</div>


<div class="notv7" id="load_more_2">
    <br>

    {% include ch11.html %}

    <br>

    {% include ch12.html %}

    <br/>
    <br/>
    <br/>
    <p style="font-size:8pt;">This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic License</a>.  If you'd like to contribute, we welcome <a href="https://github.com/tcruven/n">writing and code improvements</a>.  You may reproduce and modify it as long as it retains an attribution to the original source. Thank you.</p>
</div>