---
layout: default
---

<br>

<p style="text-align:center;font-size:50pt; text-indent:0;">

    <strong><span style='font-family: "Comfortaa";'>a.</span><span style='font-family: "Verdana";'>tt</span><span style='font-family: "Comfortaa";'>e</span><span style='font-family: "Economica";'>n</span><span style="font-family: 'Verdana";'>t</span><span style='font-family: "Comfortaa";'>.io</span><span style='font-family: "Economica";'>/n</span></strong>
</p>
<p style="text-align:center; text-indent:0;margin-top: -10%;">By Terise Cruven</p>

<p style="text-align:center; text-indent:0; font-size:11pt;">
<strong><a href="#" onclick="return toggle_all_elements();">Contents</a>:</strong> <a href='#ch1'>1. Octopus and Adderall</a>, 
<a href='#ch2'>2. Kagaku Kōkoku, GK</a>, 
<a href='#ch3'>3. The Hitch-hiker</a>, 
<a href='#ch4'>4. Author</a>, 
<a href='#ch5'>5. Controls</a>, 
<a href='#ch6'>6. The Two Gwendolyns</a>, 
<a href='#ch7'>7. Yagasawaki</a>, 
<a href='#ch8'>8. @Gororo</a>, 
<a href='#ch9'>9. Are you watching closely?</a>, 
<a href='#ch10'>10. Identity</a>, 
<a href='#ch11'>11. Link</a>, 
<a href='#ch12'>12. Fate</a>, 
<a href='#ch13'>13. Rin</a>, 
<a href='#ch14'>14. Bandwidth</a>, 
<a href='#ch15'>15. The Creator</a>, 
<a href='#ch16'>16. Influence</a>, 
<a href='#ch17'>17. Attention</a>, 
<a href='#ch18'>18. Myth</a>, 
<a href='#ch19'>19. Goodbye World</a>
</p>

<br><h4 id='ch1'>1. Octopus and Adderall</h4>

{% include ch1.html %}

<br><h4 id='ch2'>2. Kagaku Kōkoku, GK</h4>

{% include ch2.html %}

<br><h4 id='ch3'>3. The Hitch-hiker</h4>

{% include ch3.html %}

<br><h4 id='ch4'>4. Author</h4>

{% include ch4.html %}

<br><h4 id='ch5'>5. Controls</h4>

{% include ch5.html %}

<br><h4 id='ch6'>6. The Two Gwendolyns</h4>

{% include ch6.html %}

<br><h4 id='ch7'>7. Yagasawaki</h4>

{% include ch7.html %}

<br><h4 id='ch8'>8. @Gororo</h4>

{% include ch8.html %}

<br><h4 id='ch9'>9. Are you watching closely?</h4>

{% include ch9.html %}

<br><h4 id='ch10'>10. Identity</h4>

{% include ch10.html %}

<br><h4 id='ch11'>11. Link</h4>

{% include ch11.html %}

<br><h4 id='ch12'>12. Fate</h4>

{% include ch12.html %}

<br><h4 id='ch13'>13. Rin</h4>

{% include ch13.html %}

<br><h4 id='ch14'>14. Bandwidth</h4>

{% include ch14.html %}

<br><h4 id='ch15'>15. The Creator</h4>

{% include ch15.html %}

<br><h4 id='ch16'>16. Influence</h4>

{% include ch16.html %}

<br><h4 id='ch17'>17. Attention</h4>

{% include ch17.html %}

<br><h4 id='ch18'>18. Myth</h4>

{% include ch18.html %}

<br><h4 id='ch19'>19. Goodbye World</h4>

{% include ch19.html %}

<br/>
<br/>
<br/>
<p style="font-size:8pt;">This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic License</a>.  You may reproduce and modify it as long as it retains an attribution to the original source. Thank you.</p>

<!-- {% for post in site.posts %}
    <span class="post-title">
        {{ post.title }}
    </span>
    <br>
    {{ post.content }}
    <br><br>
{% endfor %} -->
