---
layout: default
---

<br>

<p style="text-align:center;font-size:50pt; text-indent:0;">

    <strong><span style='font-family: "Comfortaa";'>a.</span><span style='font-family: "Verdana";'>tt</span><span style='font-family: "Comfortaa";'>e</span><span style='font-family: "Economica";'>n</span><span style='font-family: "Verdana";'>t</span><span style='font-family: "Comfortaa";'>.io</span><span style='font-family: "Economica";'>/n</span></strong>
</p>
<p style="text-align:center; text-indent:0;margin-top:-50px;"><em>a short story for our fractured minds</em></p>
<p style="text-align:center; text-indent:0;">Terise Cruven</p>

    <div class="fixme">
        <div class="v3">
            <iframe class="resp-iframe" src="https://www.youtube.com/embed/kKT4D7XJvG4?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="v2">
            <iframe class="resp-iframe" src="https://www.youtube.com/embed/sfN6TSLEYpk?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="width:100%;position:relative;top:0;padding-top:5px;background-color:">
            <span style="float:left;background-color:black;">↓ transcript</span>
            <span style="float:right;background-color:black;">↑ set video to HD </span>
        </div>
    </div>
<br />
<div class="notv1">
<p style="text-align:center; text-indent:0; font-size:11pt;">
<strong>
<a href='?v=1'>full text</a>
</strong></p>
</div>
<div class="v1">
<p style="text-align:center; text-indent:0; font-size:11pt;">
<strong>
<a href='/'>view video</a>
</strong></p>
</div>
<p style="text-align:center; text-indent:0; font-size:11pt;">
<strong>Contents:</strong> <a href='#ch1'>1</a>,
<a href='#ch2'>2</a>,
<a href='#ch3'>3</a>,
<a href='#ch4'>4</a>,
<a href='#ch5'>5</a>,
<a href='#ch6'>6</a>,
<a href='#ch7'>7</a>,
<a href='#ch8'>8</a>,
<a href='#ch9'>9</a>,
<a href='#ch10'>10</a>,
<a href='#ch11'>11</a>,
<a href='#ch12'>12</a>
</p>
{% include ch1.html %}


<br>
<div id="ch2_wrapper">
    {% include ch2.html %}
</div>

<br>
<div id="ch3_wrapper">
    {% include ch3.html %}
</div>

<br>

    {% include ch4.html %}
<br>

    {% include ch5.html %}
<div class="v7">
    <p >
    <a href="#" onclick="return toggle_element('load_more_1');">load more</a>
    </p>
</div>
<div class="notv7" id="load_more_1">
    <br>

    {% include ch6.html %}

    <br>

    {% include ch7.html %}

    <br>

    {% include ch8.html %}

    <br>

    {% include ch9.html %}

    <br>

    {% include ch10.html %}
<div class="v7">
    <p >
    <a href="#" onclick="return toggle_element('load_more_2');">load more</a>
    </p>
</div>
</div>


<div class="notv7" id="load_more_2">
    <br>

    {% include ch11.html %}

    <br>

    {% include ch12.html %}

    <br/>
    <br/>
    <br/>
    <p style="font-size:8pt;">This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic License</a>.  If you'd like to contribute, we welcome <a href="https://github.com/tcruven/n">writing and code improvements</a>.  You may reproduce and modify it as long as it retains an attribution to the original source. Thank you.</p>
</div>