<h4 id='ch1'>Octopus and Adderall</h4>

<p>"Out early for drugs and octopus," Ezzy texted.</p>

<p>
She was sitting on the hallway floor of the Institute's distribution center, head leaning back against the wall. Three seconds after 6 AM she started tapping impatiently on the glass between her and the narcotics cabinet. She handed the requisition to the half-awake clerk, and he pushed the bottles across the counter with a detached shrug. She dropped the bottles into her backpack and slipped down the stairwell to the supply tunnel that ran under campus to the marine center. She waited on the dock until 9 when the divemaster finally brought her two harp-toothed octopuses.
</p>
<p>
"I can't believe they only let me have two!" she texted to her assistant, Cass, driving home with one hand on the steering wheel, "at least they didn't notice I took more amphetamine than my D.E.A clearance allowed."
</p>
<p>When she pulled back up to the house, Cass was waiting with a cup of coffee.  He grabbed the bag of narcotics out of the passenger seat.
</p>
<p>
"100 grams cocaine, 400 milliliters methamphetamine, and 60 tablets of adderall.  You're going to have a damn good time here without me, huh?
</p>
<p>
"I'm going to try working on these two all day," she said, carrying the octopuses into the garage that she'd turned into her laboratory over the summer.  "It'd really help me a lot if you could check back for more specimens from the evening haul before you leave."  She stepped into the garage and started preparing her equipment.
</p>
<p>
"Um," Cass wrinkled up his face, "actually, I have to head back into the city for a meeting with the funder."
</p>
<p>
"Oh," Ezzy said, "well, just drop that stuff off over there, and I'll see you Monday. Tell Senke we're close. I can feel it."
</p>
<p>
In her lab, Ezzy poured the octopuses from their container into the aquarium.  They stretched their legs out wide and puffed little swirling vortices of ink into the water around them.  She leaned her forehead up against the glass of the aquarium and dipped her finger in the cold salt water.
</p>
<p>
"There's nothing else in the world quite like you," she whispered.
</p>