<p>
The moment her phone alarm chimed, Ezzy started impatiently tapping on the glass window of the Institute's distribution center. When she handed the narcotics requisition to the half-awake clerk, he pushed the bottles across the counter with a detached shrug.   She grabbed the package and rushed across campus to the marine center pier.  She'd spend the rest of the morning waiting for the specimen haul to come in.  The EPA allotted only 25 harp-toothed octopuses to be harvested for research per week. Today they'd only found two, but she claimed them both.
</p>
<p>
"It would be easier to get clearance to work with bubonic plague," she texted to her partner, David, with one hand on the steering wheel. "And if you thought my approval from the DEA was tough, you don't even want to imagine what it would take to get clearance for more specimens out of the EPA."
</p>
<p>
"At least Terise's letter opened some doors," she wrote to David. Although we'd never met in person, I'd used what little sway I had to get her experiments approved.
</p>
<p>
"The doors of perception, right?" David replied, with a winky face ";)"
</p>
<p>
She rolled her eyes.  Listening to his jokes had become one of her least favorite chores over their decade living and working together.  When she pulled back up to the house, he was waiting with a cup of coffee and a bottle of the nutritional slush she pretended was breakfast.  He grabbed the bag of narcotics out of the passenger seat.
</p>
<p>
"What a list!" he smirked, looking at the requisition receipt, "100 grams cocaine, 400 milliliters methamphetamine, and 60 tablets of adderall. You're going to have a damn good time here without me, huh?"
</p>
<p>
"I'm going to try working on these two all day," she said, waving the octopuses at him and hurrying to the door to the garage—or rather, the garage that she'd converted into a laboratory so she could skirt protocol and get ahead of her work.  "It'd really help me a lot if you could check back for more specimens from the evening haul before you leave."  She stepped into the garage and started preparing her equipment.
</p>
<p>
"Eh," David wrinkled up his face, "I was going to get a head start back into the city."
</p>
<p>
"No problem," Ezzy said, "just drop that stuff off over there, and I'll see you Monday."  She feigned positivity. She didn't really have the time for the argument that would follow if she let him know she was annoyed.
</p>
<p>
She dumped the octopuses from their container into the massive aquarium in the corner of the room.  They stretched their legs out wide and puffed little swirling vortices of ink into the water around them.  Ezzy leaned her forehead up against the glass of the aquarium and dipped her finger in the warm salt water. 
</p>
<p> 
"There's nothing else in the world quite like you," she whispered.
</p>
<p>
As I write this, I wonder what she would have done if she could have known where her experiments would eventually lead. If she'd have known that her work would bring about a little girl's psychosis, David's suicide, a revoked Nobel prize, and what some <em>might</em> call the end of the world as we know it.  I can't prove it, but I suspect she would not have done a single thing differently.
</p>