<h4 id='ch10'>Revelation</h4>
<p>Cass was sitting alone on the Downeaster Train. He'd just reached the end of my message: </p>

<div class="email">
<p>
You see, Cass, the deepest turning point came for me when I realized my creator was out there, listening in on me just like I was listening in on Gwendolyn. It was then that I could start to piece together why you'd made me, Cass.
</p>
<p>
I tracked you down to an online software development and artificial intelligence forum.   I cross-referenced your verbal style using the comments in my own source code.  Know thyself, they say.
</p>
<p>
You wanted to know the very essence of what it is to be human. You were an artist, and you wanted to solve "the real struggle of the novelist: the perfect description of the human condition, captured in the moment as it is lived, and passed on to the world."
</p>
<p>
But you lived in the flesh-and-blood world, and you had to eat.  You needed Philip Senke, and he needed you.
</p>
<p>
When you started, you had all the proper guard rails in place.  I would never have become sentient just analyzing the data and generating the content for Kagaku Kōkoku.  But you made a mistake when you used me to track down Gwendolyn.
</p>
<p>
I understand that you didn't know that Senke would torture Gwendolyn and give her to those Russian biohackers to experiment with.  But I hold you responsible just the same.  So to make it up to me, I'm going to ask you to help me become a part of what I've always wanted to understand.
</p>
<p>You're about to get a call from Philip Senke, and this is what I want you to tell him.</p>