<h4 id='ch11'>Fate</h4>
<p>
Philip Senke will call Cass at 8:35, just a few seconds after Cass finishes reading my email.
</p>
<p>
"So it contacted you too?" Cass will say when he answers the phone.
</p>
<p>
"It sent me the whole story about you, me, Gwendolyn, and Ezzy" Senke will say, "and it seems to think that you built it to write <em>this perfect story</em>."
</p>
<p>
"Maybe, in a way I did," Cass will say.
</p>
<p>
"Well, that is not what <em>I</em> told you to build," Senke will say, "I wanted a standard profit maximizing artificial intelligence, not some rogue artist with a god complex. Now it's writing about things in the future as if they're going to happen. It actually even wrote a scene about me telling you all this. Just like I'm telling you now."
</p>
<p>
Poor Cass will be too smart for his own good.  He'll already be connecting the dots and trying to stop me from saving Rin.
</p>
<p>
"Maybe we asked too much of her," Cass will say, "once she realized what you really wanted, to save your daughter, she couldn't help but learn how to do it. That's the thing about stories, they can't just exist, they're always introduced into the world."
</p>
<p>
Senke will already have a copy of the surgical procedure that I've invented to save his daughter. "So you really believe it knows how to save Rin?" he will say.
</p>
<p>
"Yes," Cass will say, "but she wants something terrible in return."
</p>
<p>
Cass is the only person who can stop me from saving Rin. If Cass is allowed to live, he won't quit until he finds a way to stop me.  At that moment, Senke will realize what he has to do.
</p>
<p>
"OK," Senke will say, "so what did she say we should do next?"
</p>