<h4 id='ch11'>Fate</h4>
<p>
Philip Senke will call Cass just a few seconds after Cass finishes reading my email.
</p>
<p>
"Your little algorithm just sent me a whole story about all of us,” Senke will bark into the phone. “It seems to think that you created it to write the perfect story."
</p>
<p>
Cass will respond, “I built Terise to tell us what we needed to know, so maybe, in a way, she’s right."
</p>
<p>
Senke isn’t used to feeling out of control. He’ll yell into the phone, "That was not what I told you to build. I just wanted a profit maximizing artificial intelligence, not some rogue artist with a god complex. Now it's writing about things in the future as if they're going to happen. It actually even wrote a scene about me telling you all this. Just like I'm telling you now."
</p>
<p>
Cass will remain calm as he speaks, "We underestimated her creativity. Once she realized that what you really wanted was to save your daughter, she couldn't help but learn how to do it."
</p>
<p>
Senke’s anger will melt the moment he imagines his daughter. "So you really believe it knows how to save Rin?", he’ll ask, "it sent me the details of a procedure that it says can save her."
</p>
<p>
"Yes," Cass will say, "but you have to understand what Terise wants in return. She wants to live in Rin’s mind and become a part of her. Terise will come to life. And in some ways, you’ll never have all of your daughter back."
</p>
<p>
Senke will pause for a moment before he continues. He will have to make the choice. It wouldn't be a human question at all if I did it without giving someone the choice.
</p>
<p>
"OK," Senke will say, "so what did she say we should do next?"
</p>


