<p>
David gripped his lover's ribs, his body rocking under him.  He was fit, but his age showed in the creases of his weathered skin.
</p>
<p>
Their sex was minimally choreographed—nothing grandiose.
</p>
<p>
David's heartbeat was elevated.  He moved forcefully in little round circles against Cass's pelvis, perfectly angled to stimulate his prostate.  He grabbed the back of Cass's head and lifted himself up.
</p>
<p>
Cass grunted once at the sight of the sinew pulling taught above David's shoulders along the line to base of his skull. He suspended himself against his body and pushed roughly into him.
</p>
<p>
David came.  His face softened.
</p>
<p>
They collapsed and rolled apart.  Facing up at the ceiling in silence.
</p>
<p>
David drifted in and out of focus.  A text from Ezzy popped up on his phone, and he flipped it to silent.
</p>
<p>
Cass hadn't finished, but he rarely ever had.  He was already back onto his laptop.
</p>
<p>
David had come back to the city unannounced—leaving Ezzy to friend for herself again.  Their affair had started as a casual match on a hookup app, but had snowballed out of Cass's control.  They'd clicked magically.  David had never imagined he'd respond to a man that way.  He loved the feeling, but still felt a subtle shame.  He'd never be able to tell Ezzy how he felt.  I think he wondered whether she'd even care about his infidelities, which might have worried him more.
</p>
<p>
Becoming more aware of his surroundings, he caught a glimpse of the paper Cass was reading.  He saw some words that he recognized: cortisol inhibitors, prefrontal neuroganglion paralysis, microelectrode array.  It looked like words Ezzy would have used.
</p>
<p>
"What are you doing?" David asked, "I thought you worked in advertising."
</p>
<p>
"Oh, don't look at this," Cass said, "I'm just running the numbers on some work for my old boss."
</p>
<p>
David looked closer at the report.
</p>
<p>
"Who's Gwendolyn Docstaeder?"
</p>
<p>
Cass closed his laptop.  "She had a disease. My boss's wife had the same disease.  The wife died."
</p>
<p>
David shuddered.  He kissed Cass's hip and rolled back over to fall asleep.
</p>