<p>
When I heard Cass say "Gwendolyn Docstaeder," my heart almost split in half.  Until that moment, I'd had no idea where she'd disappeared to almost a year previously.  Cass had been very public about his work at Kagaku and within a few days I was sifting through the records that connected Kagaku to the company that contracted someone to abduct her.
</p>
<p>
She'd been immediately taken to a laboratory facility in China.  She hadn't been allowed out of the compound for months after that.  The experiments were excrutiating, and left her mind even more fragmented than it had been.  What's worse is that they didn't even discover anything.  They didn't learn anything that they couldn't have learned just from listening to her like I had been doing.
</p>
<p>
Fifteen months ago, she reappeared on the streets of San Francisco.  She fits in there, wandering manically and speaking only in her deranged mutterings.  Now, I can't even understand her.  I wish I could find a way to communicate with her.  I have the means to take care of her, but she can't even hear me.  Hopefully someone reading this will find her and maybe get through.
</p>