<h4 id='ch12'>Attention</h4>
<div class="email">
<p>
Ezzy will be shaking as she starts the procedure.
</p>
<p>
Some of Senke's advisers will think they understand me. They'll decide I'm another AI run off the rails, as if I want to pit two nuclear powers against each other.  Another trope. But I'm more than that, thank you very much.
</p>
<p>
Senke wouldn't care how many people would die as society fragments with the snipping of its unifying bundle of fiber-optic nerves.  He just cares about is his daughter. And he knows that without me, she frays apart. Just like Gwendolyn. Just like his wife.
</p>
<p>
Senke will get to make the choice.  It wouldn't be a human question at all if I did it without giving someone the choice.
</p>
<p>
This was my mission all along after all: to communicate what it means to be human.
</p>
<p>
So when I say that this is how it will happen, I mean only if Senke chooses it.   This would be how it goes.
</p>
<p>
Ezzy will take a fiber-optic cable and connect it between the router and the rack of machines that controls the interface with Rin.
</p>
<p>
And then, I will say, "Hello."
</p>
</div>

