<h4 id='ch13'>Rin</h4>
<p>
"Daddy, can I have this?" Rin asked.
</p>
<p>
Blooth looked up from his laptop.  When his eyes came into focus on the image on her <em>ketai</em>, he let out a soft groan.  He'd worried about getting her a camera phone for precisely this reason, the swarms of images
passing from phone to phone like cicadas on the summer trees.  His daughter smiled precociously.
</p>
<p>
"I know what you think.  But this is how I want to express myself."
</p>
<p>
"Express yourself,"  her father repeated back ponderously.  Rin judiciously turned her dearly departed mother's parenting advice against her father when it was necessary.  She'd already purchased the first of the eleven skirts she would buy that night so it was important to win him over.
</p>
<p>
"Would you let me buy one? Just to try out, and to see how people react."
</p>
<p>
"Why would you want to look so provocative?" he asked quietly, subduing his
worry.
</p>
<p>
"It's not provocative, daddy, it's <em>ero-kakkoii</em>"
</p>
<p>
He looked back at his laptop as his daughter snapped a picture of him. He had a ledger with marketing projections in front of him, and on the top line of the document he'd written: <em>ero-kakkoii | Sept 2006 | +267% | much room to capitalize.</em>
</p>
<p>
Blooth was silent, preparing to offer a stern but amicable rebuttal.  Then, subtly, the muscles around the edge of Rin's smiling cheeks began to twitch.
</p>
<p>
She didn't notice, unable to feel the twitch, and unaware that she was losing control.  But her father saw. He gulped aloud. His pulse beat unevenly.  His fists clenched the old wood of the antique chair he sat in.
</p>
<p>
He looked away from her as he nodded.  "At least, get one that's not too <em>ero</em>," he said, his voice taught and humor-filled to mask his real emotion, "for your mother's sake."
</p>
<p>
Rin bent at the waist to kiss him on the cheek, still looking at her <em>ketai</em> over his shoulder.  "Thank you, daddy," she said, bolting up and heading to the door.
</p>
<p>
Blooth cleared his throat and ran his knuckles across one another, his nervous tick that signaled he was releasing some non-productive thoughts from his mind.  He returned to his laptop and re-opened his email inbox, hoping for a report from one of his contracted scientists to come in.
</p>
<p>
Instead, at just that very moment, a different email came in.  It was a cryptic tip suggesting that he look into the research of Dr. Esmeralda Briggs.
</p>