<h4 id='ch14'>Fate</h4>
<div class="email">
<p>
JT didn't leave his encampment.  He absorbed the crescendo of his life's work remotely.  Then after 12 days picking through the tidal wave of revealed atrocities swarming the internet, multiplying, unabbating, he powered his phone down again.
</p>
<p>
He had supplies for months, but after his disappearance from social media, his parents requested a private investigator to visit their island and check on his well-being.
</p>
<p>
They found his phone in the cabinet next to the bed.  He was not found inside nor anywhere on the property of the island.  One sailboat and some supplies were found missing, the navigation equipment stripped from the cockpit and left on the dock.  The ship was never recovered.  Subsequently, no one, including myself, has been able to find him anywhere.
</p>
<p>
I'm sure you remember, Cass, that during the investigation of what took place, the police interviewed you, trying to determine what led him to begin the tirade against him and his friends.  You stated that you and JT hadn't had any contact for several months prior.  The authorities examined his email records, but didn't find that message from you that had set JT off on his tirade.
</p>
<p>
Because of course, as you know, you hadn't sent that message at all. As I'm sure you're beginning to understand, I sent it to him.<br>
</p>
</div>