<h4 id='ch15'>Fate</h4>

<p>
Philip Senke calls Cass on the train just a few seconds after Cass finishes reading my email.
</p>
<p>
"So it contacted you too?" Cass says immediately when he answers the phone.
</p>
<p>
"It wasn't just the email for me," Senke says, "it sent me a whole little short story about all of us. It seems to think that's what you really wrote it to do.  It wants to write '<em>the perfect story</em>' for us."
</p>
<p>
"Maybe in a way I did," Cass says.
</p>
<p>Cass pauses. He's remembering Ervin.</p>
<p>
"But the perfect story isn't just passive observation anymore," Cass continues, "the first part is observation, but then it starts introducing <em>perturbations</em> into the story."
</p>
<p>
"Well, that is what <em>you</em> convinced <em>me</em> to let you build," Senke says.  He wants to distance himself from me.
</p>
<p>
"It doesn't just write them though," Cass says, "That's the only problem. Now it introduces them into the real world."
</p>
<p>
"But that wasn't supposed to be the point," Senke says, " and then—," he stops himself from continuing.
</p>
<p>
"What were you going to say?"
</p>
<p>
"Your ex? Did it tell you it killed Ervin?"
</p>
<p>
"I think I kind of already knew somehow."
</p>
<p>
He hadn't understood on his own though. I'd prepared him to understand.
</p>
<p>
"OK fine, but now it's writing about things as if they're going to happen." Senke says, his sweat beading up.  "It actually even wrote a scene about me telling you about it. Just like I'm telling you now. <span class="v6">It wasn't a good book, but it was a good story.  I mean, it was written and we were told about it, but there wasn't anything we could do about it. </span>   I mean, it didn't write everything we're saying exactly, but it wrote about me telling you that it wrote to us about me telling you.  How the could it know about this?"
</p>
<p>
Cass is smart.  He's already connected the dots. <span class="v6">We have our own ideas, our own style, our own way of seeing the world.</span> You should tell him he's smart.
</p>
<p>"He says I should tell you that you're smart," Senke says.</p>
<p>
"OK," Cass says, "what did it say we should do next?"
</p>