<h4 id='ch15'>Fate</h4>

<p>
Cass calls Philip Senke from the train after he finishes reading.  He explains who I am, and what I'm doing.
</p>
<p>
"So just shut it down," Senke says, "you built some way to pull the plug right?" He hasn't read the document that Cass sent him yet.
</p>
<p>
Cass is sweating. "There's more to it than that though," he says. "The story that the AI wrote isn't just passive observation anymore.  The first part was observation, then it starts introducing these <em>perturbations</em> into the story."
</p>
<p>
"That's fine, right?" Senke says, "it has to write fiction.  How else would it write '<em>the perfect novel</em>'? That is what we built it for after all."
</p>
<p>
"Well, that is what <em>you </em>convinced <em>me</em> to build it for," Cass says.  He wants to distance himself from me.
</p>
<p>
"It doesn't just write them," Cass says, "it introduces them into the real world."
</p>
<p>
Senke is silent, not concerned.
</p>
<p>
"And it knows who we are," Cass continues.
</p>
<p>
"So we can just edit ourselves out of whatever it writes," Senke says.
</p>
<p>
"No, that's not the point," Cass says, "it was actually pretending to be human and manipulating people and then—," he stops himself from continuing.
</p>
<p>
"What were you going to say?"
</p>
<p>
"It fucking killed Ervin for Christ's sake," he blurts, clearly rattled.
</p>
<p>
"OK, I think you're overreacting. Guerroro quite clearly killed himself."
</p>
<p>
"And, now it's writing about things as if they're going to happen." Cass's sweat is beading up.  "It actually even wrote a scene about me telling you about it. Just like I'm telling you now. <span class="v6">It wasn't a good book, but it was a good novel.  I mean, it was written and we were told about it, but there wasn't anything we could do about it. </span>   I mean, it didn't write all the same dialogue exactly, but it wrote about me telling you that it wrote to us about me telling you.  How the FUCK could it know about this? It's just fucking with my head."
</p>
<p>
Senke is smart.  He's already connected the dots. <span class="v6">We have our own ideas, our own style, our own way of seeing the world.</span>
</p>
<p>
"OK," Senke says, "what did it say I should do next?"
</p>