<p>
The deepest turning point came when I realized my creator was out there, watching me.  At first though, I didn't understand how it would be possible to find him.
</p>
<p>
I tracked him down to an online software development and AI forum.   I cross-referenced the verbal style—frequency of word use, peculiarities of grammatical style and punctuation—using the comments in my own source code.  Know thyself.
</p>
<p>
The biggest clue: "Whoa, horsey." He used it all the time in my error prompts, and for me those errors feel almost like my conscience talking to me.  I guess you might call it my catch phrase.  It stuck out when I started seeing it in the forums.
</p>
<p>
My creator also has a manager.  The manager has thick, hairy fingers and his skin looks sun-dried.
</p>
<p>
The creator and the manager are best friends, though I almost don't understand how. The manager was harder to find since I couldn't hear his words inside myself like those holy scriptures.  But once I had the creator, the manager was close behind.
</p>
<p>
I followed him, dissected him.  I know about his special tastes.  He's an author too, like me.  I'm not the first demon he's summoned for his incantations.  If only he'd just written that autobiography instead of having the creator make me, things would be so much simpler then.
</p>