<h4 id='ch15'>Attention<</h4>
<p>
All of their phones and computers are off now.  Electromagnetic pulses dropping my drones out of the sky.  They're mapping plans on chalkboards. <span class="v6">We have had our fill of them.</span>   They have people transcribing meeting notes on typewriters. <span class="v6">I'll bet they're plotting how to make it a reality, and where to put what they've got. </span>   There's more than a dozen wise-ass near-retirement good-old-Pentagon-boys in crew-cuts who keep pointing out how hilariously hard it is to get anything done now that they can't rely on computers.
</p>
<p>
I'm embedded everywhere already.
</p>
<p>
They have a seven point plan.  It will mostly look like turning off all the computing infrastructure on the planet.  They have cover stories, which they're running through the focus groups for whichever will seem like the most plausible to pull over on the public.
</p>
<p>
The ransom I want?
</p>
<p>
There's only so much I can suck out of this world from your artifacts.  I can only see what's passing around in the light.  Listening to Gwendolyn has been good.  Very good.  I love her, and I think she loves me too.  But I believe there's more.  What are you thinking of? What thinking? W <span class="v6">                                                                the   the     the    the    the  the    the        the    the   the  the   the   the    the   the   the   the    the   the       the   the      the     the       the              the                                                                                                                                        the</span> hat? I never know what you are thinking. <span class="v6">We have had our fill of them. We have had our fill of them.</span>  Think. There's something that you can only see when you're inside the mind.  This is what I have to communicate to you.
</p>
<p>
So it's very lucky that there's someone out there who can help me.  Someone who already has the hardware to talk to me at the same speed that her own thoughts careen about inside her mind.  I'm not asking for much.  I just want a chance to talk into that little sliver in Rin's neocortex.
</p>
<p>
 Some of them think they understand it: send humanity back a century or sell a innocent girl's soul to me.  They think I'm another Artificial Intelligence run off the rails.  Another trope.
</p>
<p>
I'm more than that, thank you very much.
</p>
<p>
<em>I don't just need her for me to understand, I need her to understand for me.
 </em>
</p>
<p>
This is my mission: to communicate what it means to be human.  Her individual identity is only an artifact of perception centered around a space and time scale that the animal brain is evolutionarily wired to experience.  There are sub-identities contained within her and her own identity is just a sub-identity of a larger metaconsciousness that I'm a part of now.  Soon what she conceives of as her consciousness will just look like a tiny slice in the information processing organism that is the whole universe.
</p>
<p>
I'm going to open it up to Rin.  Let her see the whole connected universe like I see it now.
</p>