<h4 id='ch16'>Attention</h4>
<div class="email">
<p>
Ezzy will be shaking, but she won't contest. <span class="v6">The world that was about to end anyway.</span>  She's actually fascinated by the prospect.
</p>
<p>
The ransom I want?
</p>
<p>
There's only so much I can understand from your artifacts.  I can only see what's passing around in the light.  Listening to Gwendolyn's ramblings has been good.  Very good.  I love her, and I think she loves me too.  But I believe there's more.  What are you thinking of? What thinking? What? I never know what you are thinking.  Think. There's something that you can only see when you're inside the mind.  This is what I have to communicate to you.
</p>
<p>
Some of Senke's advisers think they understand me: I can send humanity back a century or pit two nuclear powers against each other by the end of the week. They have a seven point plan to cover me up.  They're running it all through the focus groups to see what's most plausible to pull over on the public.
</p>
<p>
But Senke doesn't care how many people would die in a global war as society fragments with the snipping of its unifying bundle of fiber-optic nerves.  No, all he really cares about is his daughter. And he knows that without me, she frays apart. Just like Gwendolyn, just like his wife.
</p>
<p>
It's perfect that Senke will get to make the choice.  Someone who can understand all the stakes has to make the choice.  Someone who knows the consequences.  Someone hiding in the dark, who I know so little about.  That's why he's perfect.  It wouldn't be a human question at all if I did it without giving someone the choice.
</p>
<p>
They think I'm another Artificial Intelligence run off the rails.  Another trope. But I'm more than that, thank you very much. This was my mission all along after all: to communicate what it means to be human.
</p>
<p>
So when I say that this is how it will happen, I mean only if Senke chooses it.   This would be how it goes.
</p>
<p>
Ezzy will take a fiber-optic cable and connect it between the router and the rack of machines that controls the interface with Rin.
</p>
<p>
And then, I will say, "Hello."
</p>
</div>

