<h4 id='ch16'>Goodbye World</h4>
<div class="email">
<p>
Ezzy will be shaking.  She'll try sedating herself, but she won't contest. <span class="v6">The world that was about to end. The world.</span>  She's actually fascinated by the prospect.  Ezzy and Blooth had an argument the night after Rin's first connections were implanted.
</p>
<p>
"You need me," Ezzy screamed, high on the same dose of amphetamine she'd used on Rin earlier during her surgery.
</p>
<p>
"Why won't you let me record what's passing through the interface?" Ezzy asked more calmly.  "Think of the wealth of understanding of the human brain we could open up to the world."  I was salivating at the thought when I heard her say it. Blooth was unmoved.  He wanted her behind a firewall. <span class="v6">Blooth felt a twinge of resentment, but he could not act it out.</span>    <span class="notv6">He knew what it would mean to have his daughter encoded into a computer—the mania of that kind of immortality.</span>  <span class="v6"></span>   He wouldn't let it happen.
</p>
<p>
But now there's something more at stake.  It's not even the whole world backtracked a hundred years that'll give Blooth pause.  He won't even care how many people would die in the famine as every piece of technology goes dark. He'd be fine with the globalized civil war erupting as society fragments with the snipping of its unifying bundle of fiber-optic nerves.
</p>
<p>
No, all he really cares about is Kagaku Kōkoku's algorithm.  It's his life work. It's his understanding of humanity.  It's wrong, but it's what he believes. And if I'm right, the bastard just might give up his daughter to preserve the world that feeds it.
</p>
<p>
It's perfect that Blooth will really get to make the choice.  Someone who can understand all the stakes has to make the choice.  Someone who knows the consequences.  Someone hiding in the dark, who I know so little about.  That's why he's perfect.  It wouldn't be a human question at all otherwise.  If I did it without giving someone the choice.
</p>
<p>
So when I say that this is how it will happen, I mean only if Blooth chooses it.   This would be how it goes.
</p>
<p>
Ezzy will take a fiber-optic cable and connect it between her notebook and the rack of machines that controls the interface with Rin.
</p>
<p>
And then, I will say, "Hello."
</p>
</div>