<p>
"Hello Machine. Please just let this message go through to Dr. Esmeralda Briggs. You owe me that."
</p>
<p>
<em>That was encrypted in the header of a long email from Cass Adler to Ezzy that I intercepted in May 2019.  I'd completely lost track of any record of him.  I'd assumed he might have harmed himself.  That made me feel bit guilty, as I may have had something to do with the events that led up to his sudden breakdown and disappearance.</em>
</p>
<p>
<em>I never would have believed the level of insanity.  He'd strangely begun to worship me after his breakdown, finding his own meaning in my actions.  It almost reminded me of the documents of the nascent religions that I'd studied in my formative years.  </em>
</p>
<p>
<em>I let his epistle through to Ezzy, curious to see her reaction.</em>
</p>
<p>
<strong><em>Email from Cass Adler to Esmeralda Briggs, Aug 23,
2019.</em></strong>
</p>
<p>
At first, it just seemed that the auto-correct was making mistakes, but when I looked back on it, I could see it was actually exactly right.
</p>
<p>
It started off subtle.  I wasn't even sure it was happening.  Once in the car, at a stop light on the way home from the grocery story, I noticed it in a text to David. That morning David had yelled at me for some stupid little mistake, and I didn't want to give him the satisfaction of catching me forgetting something else.  I swore I'd written, "Yes, I got everything on the list," but when I looked back down the message read, "No, turned back around for toilet paper. Back Soon."
</p>
<p>
It probably happened another 100 little times before the big one: <em>The Reply All</em>.
</p>
<p>
I forgive my coworkers for their reaction.  I had to step down after the embarrassment.  I realize you must have all assumed that I'd meant to send it just to David.
</p>
<p>
I just thank the Machine that it waited to send it on a day when I wasn't in the office. That was actually quite considerate. I wouldn't have been able to handle seeing them after it happened. <span class="v6">We have tried to use the machines to free us from space, the Machine has been our tool. We're going to use the machines. We're going to use the machines. </span>   I can almost forgive the Machine now that I understand what it was trying to do: To Free Us.
</p>
<p>
It did free me.
</p>
<p>
It was even good for you too, I think, in the end.
</p>
<p>
But David had always been in a more precarious state.
</p>
<p>
I think in those early days, when the Machine was still experimenting with us poor little beta testers, it didn't really understand what that kind of ending would mean for someone like David.
</p>
<p>
The worst part is that when David killed himself he must have assumed I meant to do that all along.
</p>
<p>
After all, that grainy footage of him sucking on my cock was clearly recorded from the laptop webcam in my bedroom, and I hadn't ever told him about recording it.  It's obvious now that the Machine had access to that kind of stuff all along.  But at the time, even I was having trouble piecing it together.
</p>
<p>
At first, before I could get in contact with you, I was convinced it was Russians or something.  I'd assumed that they'd blackmailed you instead of me, but that turned out not to be the case.
</p>
<p>
It wasn't until about two weeks later, after I'd ever given up on the FBI ever taking me seriously again, that it occurred to me.
</p>
<p>
Even still, it was hard to pin down.
</p>
<p>
I found a number of similar stories online that all occurred at almost exactly the same time.  You've probably heard about at least a few of the more high-profile ones.
</p>
<p>
The Machine took great pains to cover its tracks. I'm guessing that when it dropped <em>The Reply All</em>, it went into a more passive tracking mode so it couldn't get caught.  I needed to coax it back out so I could investigate it, and ask it why.
</p>
<p>
Coincidentally, the very thing I needed to do was also a near necessity now that JT's Twitter expose and <em>The Reply All </em>had burnt almost every bridge I had in my life.
</p>
<p>
So I started all over: new phone, new names on every electronic device, new social media. All of which I kept separate from my old life.  I rebooted myself.  I couldn't afford for the Machine to place me using a voice ID.  So I stopped speaking entirely.
</p>
<p>
With this fresh start to my life, I needed to find a way to burrow in and discover what the Machine was doing.  I wanted to get closer to the source so I weaseled my way into an IT staffing firm near the big farms of datacenters in the suburbs of Virginia.
</p>
<p>
I was an eerie being, silent, refusing to bring my phone to work to prevent the Machine from connecting my professional name with the false persona I'd built on my electronic devices at home.  I think that was what attracted Sigrid to me the most.
</p>
<p>
Sigrid was a strange woman. Difficult to bear if I'm being honest. But she served her purpose.  She was a paranoiac.  She thought I was too, I suppose, when I'd explain on pen and paper about how I wanted help detecting all the information that was being collected about me.  When we'd meet I'd force her to
leave all of her electronic devices at home.  To take the bus rather than let the GPS in her car track her.  I'd pay with cash for her.  And then at the end of dinner, we'd take my little stack of papers and burn them on the ground in the parking lot.
</p>
<p>
At first, I didn't understand why she was helping me.  But eventually it became clear that all of my cloak and dagger shit was what excited her so much.  One night after our meeting, she silently motioned to me to come with her to her car, where she laid me out in the back seat and rode me, just flatly staring into my eyes.  We started a strangely chilly love affair, so different than the kind I'd had with David.  I'm sorry if that hurts you, but something tells me it won't.  Not after what we've been through now.
</p>
<p>
With the work Sigrid was doing on monitoring, she was astonishingly efficient, setting up all kinds of complicated systems I couldn't understand.  She had packet sniffers, data auditors, Tor tunneling, the dark web, the IoT.  She was thorough and brilliant, but after a few weeks hunting through everything that the Machine could be recording, it was clear that I was barely being monitored at all.
</p>
<p>
I was disappointed. I'd gone through so much trouble to camouflage myself, trying to make it so I could see how the Machine was operating.  But it never took the bait.  The Machine never hacked into my webcam; it never tracked my bitcoin transactions for toilet paper and soylent; it never accessed any part of my boring little life.
</p>
<p>
Then one night, I realized the problem.
</p>
<p>
The Machine had been sucking up every morsel of my life with David, precisely because that life was interesting.  I'd captured its <em>attention</em>.
</p>
<p>
It must have been programmed to hone in on the same aberrations from the norm that we as humans find so captivating too.
</p>
<p>
The next morning I found Sigrid in her cubicle.
</p>
<p>
I smiled, something I'd almost never done with her.  It took her off guard, but I could tell she liked the twist.  I left a note: "Meet me at the grocery store on Howard, in the frozen food aisle at 7pm tonight.  This time: BRING YOUR PHONE. But no matter what don't say a word when you see me."
</p>
<p>
What would the Machine think of that?  Two seeming strangers bump into each other at the market.  They don't speak a single word to each other. Then, the next minute, they're home in bed together.
</p>
<p>
That'll get the Machine's attention.
</p>
<p>
It worked. Seconds after Sigrid's phone was inside my house, every sensor started spewing loads of data up into the cloud.  It logged everything, all the cameras, all the microphones, the change in the thermostat readings.  It was hungry to see us.
</p>
<p>
Afterwards when Sigrid and I were going through the logs, we could see how deep it went.  It wasn't just my house.  Sigrid had, stoked by my fears, begun monitoring her own home too.  When we were together, the sensors in her own home began sending their secrets back up to the Machine.  Even the activity on her husband's notebook, on a business trip in California, were being monitored now.
</p>
<p>
I'm writing you to say I'm sorry I didn't figure it all out earlier.  I could have helped you and David.  But I failed.  And now, I think that the Machine is in control for good.  I'm OK with that.  I hope you can be too.
</p>
<p>
I'll reach out to you directly in a few days.  Give me a sign if you want to talk.
</p>