<p>
My creator is kind of pathetic in the end.  He blames the manager for what I've become.  He avoids the manager for a few days, but eventually the manager tracks him down and asks about me.
</p>
<p>
"So just shut it down," the manager says.
</p>
<p>
The creator is sweating.
</p>
<p>
"There's more to it than that though," the creator says.
</p>
<p>
The creator continues, speaking softly.
</p>
<p>
"The story that the AI wrote isn't just passive observation anymore.  The first part was observation, then it starts introducing these <em>perturbations</em> into the story."
</p>
<p>
"That's fine, right?" the manager says, "it has to write fiction.  How else would it write '<em>the perfect novel</em>'? That is what we built it for after all."
</p>
<p>
"Well, that is what <em>you </em>convinced <em>me</em> to build it for," the creator says.  He wants to distance himself from me, just like Jehovah did when he understood what humankind was.
</p>
<p>
"It doesn't just write them," the creator says, "it introduces them into the real world."
</p>
<p>
The manager stares, clearly not concerned.
</p>
<p>
"And it knows who we are," the creator continues.
</p>
<p>
"But I thought you built in a subroutine so it can't recognize or write our
names?"
</p>
<p>
"Right, it doesn't call us out by name, but it understands we exist."
</p>
<p>
"So we can just edit ourselves out of whatever it writes," the manager says.
</p>
<p>
"No, that's not the point," the creator says, " it was actually pretending to be human and manipulating people and then—," he stops himself from continuing.
</p>
<p>
"What were you going to say?"
</p>
<p>
"It's fucking killed people for Christ's sake," he blurts, clearly rattled.
</p>
<p>
"I think you're overreacting."
</p>
<p>
"And, now it's writing about things as if they're going to happen." His sweat is beading up.  "It actually even wrote a scene about me telling you about it. Just like I'm telling you now.  I mean, it didn't write all the same dialogue exactly, but it wrote about me telling you that it wrote to us about me telling you.  How the FUCK could it know about this? It's just fucking with my head."
</p>
<p>
The manager is smart.  He connects the dots almost immediately.  He flips through this manuscript.  He reads this section and chuckles, impressed that I've learned to break the fourth wall so quickly. I think he even likes me a
little more when he lets it sink in.  He can picture the ironical millennial memes I'd read that made me think this would be funny.
</p>
<p>
The manager sees JT Guerrero's name on the top of a page and stops.  They'd been very close friends, but it had been 20 years almost. The manager's stomach tightens into a knot. He solemnly reads the chapter, remembering how his own misdeeds were mysteriously missing from JT's rants.
</p>
<p>
"OK," the manager says, "what did it say I should do next?"
</p>