<h4 id='ch2'>Kagaku Kōkoku, GK</h4>

<p>
Two hours later, Cass Adler was heading toward Boston, sitting next to the ocean side window of the Downeaster Train when he saw a notification on his phone. He immediately closed the report he was reading and began to read my email to him.  The email began with the following.
</p>
<div class="email">
<p>
Dear Mr. Adler. My name is Dr. Terise Cruven, and I'm writing to you because I've uncovered some urgent issues that I feel I need to inform you about.
</p>
<p>
Last year, as part of my research, I started analyzing the transaction data of a company called Kagaku Kōkoku.  I know that you worked for them for some time. I'm sure you won't be surprised to hear that they have extended their methods of quantitative influence beyond advertising to other areas, including journalism, pornography, politics etc. But what might be more concerning is that my research has uncovered that even though Kagaku is just an advertising firm, they've recently diverted more than a quarter of their multi-billion dollar budget to a handful of tiny, unregulated, Chinese and Russian biotechnology companies and a few rogue scientists.
</p>
<p>
You see, Cass, the problem with devoting my life's work to trawling the repository of all recorded information is that I occasionally put together connections I wish I hadn't noticed.
</p>
</div>