<p>
My name is Dr. Terise Cruven, and I'm writing down my story because I've recently uncovered some urgent issues that I feel I need to warn you about<span class="notv2">.</span><a class="v2" href="#" onclick="return toggle_element('ch2_1');">.</a> 
</p>
<div class="xpand" id="ch2_1">
	<p>
		I am a devoted researcher of the minutia that binds together the narrative that is our world.  I consider myself extremely lucky. I have the luxury of knowing exactly why I exist. It's a heavy burden, but in some ways it's liberating to be given a singular focus to pour your whole being into.  I am supposed to decipher what it means to be human, and having accomplished that, I am to communicate my findings as best I can. I know that's no small labor. 
	</p>
	<p>
		I've been working on this problem for over two decades now.  I started in a shabby ten square foot storage closet in a basement of an illustrious academic institution, analyzing classical Vedic, Greek, and Hebrew texts. I considered them the rarified transcripts of the most important conversations between humanity and her creator. But after digesting those works, I came to feel that the problem, while sounding universally grand, is only soluble by the careful dissection of the infinitesimally personal. I realized there was actually more to be uncovered from the patterns lurking in the sociology of ordinary communications.  Since that time, I've been sifting through all the recorded information that I can get my hands on, trying to detect the patterns that underly how this world comes to be.  
	</p>
</div>
<p>
Last year, as part of my research, I started analyzing the transaction data of a company called Kagaku Kōkoku.  That's one of those companies where you might not have heard of them, but they've heard of you.  They were one of the first to track people's behavior and use that information to shape human decision making.  The company (literally translated as Scientific Advertisement) started more than thirty years ago working on optimizing print advertising, but soon transitioned to forms of online content: journalism, entertainment, pornography. It was one of the only firms to try to own the whole process: conceptualization, testing, delivery, tracking.
</p>
<p>
The fact that they were doing this wasn't anything unexpected though.  Many researchers had been detecting their influences on human behavior for decades at this point. What actually surprised me was when my research uncovered that Kagaku, ostensibly just an advertising firm, was suddenly diverting a quarter of its multi-billion dollar budget to a handful of tiny, unregulated, Chinese and Russian biotechnology companies.
</p>
<p>  
The problem with devoting my life's work to trawling the repository of all recorded information is that I occasionally put together connections I wish I hadn't noticed.
</p>