<h4 id='ch2'>Kagaku Kōkoku, GK</h4>

<p>
    Two hours later, Cass Adler was heading toward Boston, sitting next to the ocean side window of the Downeaster Train when he saw a notification on his phone. He closed the report he was reading and began to read my email to him:
</p>
<div class="email">
<p>
My name is Dr. Terise Cruven, and I'm writing you because I've recently uncovered some urgent issues that I feel I need to warn you about.
</p>
<p>
Last year, as part of my research, I started analyzing the transaction data of a company called Kagaku Kōkoku.  I understand you worked for them for some time. I'm sure you won't be surprised to hear that they have extended their methods of quantitative influence beyond advertising to other areas, including journalism, pornography, politics etc. But what might be more concerning is that my research has uncovered that Kagaku, ostensibly just an advertising firm, has recently diverted more than a quarter of its multi-billion dollar budget to a handful of tiny, unregulated, Chinese and Russian biotechnology companies.
</p>
<p>
You see Cass, the problem with devoting my life's work to trawling the repository of all recorded information is that I occasionally put together connections I wish I hadn't noticed.
</p>
</div>