<h4 id='ch3'>Controls</h4>

<p>
Back in the lab, there was only one octopus left in the aquarium, fumbling to relearn how to swim with its six remaining arms. Ezzy didn't notice it spinning little uncoordinated circles in the tank.  She was intently focused on suturing its two recently severed arms together.  She stroked her clamp down one arm until it lay straight, ensuring that each bundle of neurons lined up ever-so-delicately.  The first octopus's body was already lying motionless behind the glass of the freezer in the opposite corner of the room. It had died in surgery. She'd sanitized and reset all of her equipment to restart immediately on the second.
</p>
<p>
She had another pair of arms clipped at 4:36 pm.  It would be too late for the late dive haul so this would be her only chance today.  Fortunately, this experiment was going perfectly.  The first pair of arms were joined directly together, wriggling happily in their tank. The second pair were each sewn into tiny electronic chips, motionless as expected.
</p>
<p>
Now it was time to dose the animal. She pulled the liquid amphetamine up into her syringe and tapped the end against the aquarium glass next to the scrambling, confused, four-legged octopus. It twisted its eye up to peer at her.
</p>
<p>
When the chemicals hit its bloodstream, the octopus started darting feverishly from end to end of the aquarium.  Ezzy dropped the empty syringe onto the surgical platter and lay back against her bench. Now she would wait for the animal's nervous system to come back to equilibrium.
</p>