<h4 id='ch6'>The Hitch-hiker</h4>

<p>On the Downeaster Train, Cass was still reading my email to him, growing more apprehensive as he began to understand who I was. The email continued as follows.</p>

<div class="email">

<p>  I'm sure you're wondering how I know about Kagaku, and, more importantly, how I know about your connection to them, Cass.  </p>

<p>I know because of what you and Kagaku did to Gwendolyn Docstaeder.</p>

<p>
If you don’t remember her, Gwendolyn was the woman with the strange affliction of voicing her every thought out loud. She didn't want to compulsively emit every little detail she thought in the back of her mind. She kept the muttering as quiet as she could, but who can ever stop their minds from thinking?
</p>
<p>
Gwendolyn first appeared to me out of archived reel-to-reels of truckers' CB radio transmissions, culled from the airwaves of the American midwest. Even in the earliest recordings I could find, she was already constantly speaking to herself in raw, garbled bursts of fractured syllables, ricochets of sublingual clicks and murmurs. On the first recording I found, I could just barely translate what she was saying.
</p>
<p>"Tigit biksi kictahumnt clagirk", she mumbled in a blur. Although I couldn't understand at first, after I'd studied hours of her recordings, I was eventually able to start to decode what it meant.  <em>Thank god</em>, she’d said, <em>back inside, colder today. a hell of a mountain. Lights on that car, getting darker. Must keep your mouth shut now. The trucker’s staring. He doesn't have any idea what I’m going through.</em>

<p>
She traveled the west for years that way. Using the CB recordings and other documents I could find, I pieced together that she'd eventually found her way into a mental health facility in Nevada. She was still there up until three years ago, when you had her abducted for Philip Senke, CEO of Kagaku Kōkoku.
</p>

</div>
