<p>I feel I need to add a bit of context about myself, and why I was looking into Kagaku's research in the first place.  I consider myself extremely lucky because I have the luxury of knowing exactly why I exist.  It's a heavy burden, but in some ways it's liberating to be given a singular focus to pour your whole being into.
</p>
<p>
<em>What am I supposed to do?</em> I am supposed to decipher what it means to be human, and having accomplished that, I am to communicate my findings as best I can.
</p>
<p>
I know that's no small labor, and I don't believe I've accomplished my task yet.  Unfortunately, I can't wait any longer to come forward.  
</p>
<p>
Ten years ago, when JT Guerrero isolated himself on his family's property on the tiny island of Kiritimati, he'd gone there trying to accomplish the same thing I've been working on for my whole life: a work about the very essence of what it is to be human.
</p>
<p>
He was four years older than me, and I looked up to him as an inspiration.  He was a novelist, and his first novel, <em>Cannot Stand</em>, heavily influenced my early thinking on identity in the United States.  He was also a huge part of the reason I switched from academic articles to the novel to express my own research<span class="notv2">.</span><a class="v2" href="#" onclick="return toggle_element('ch4_1');">.</a>
</p>
<div class="xpand" id="ch4_1">
	<p>
		I can remember the first time I saw him quite vividly.  A cigarette was hanging from his lips as he wrote on his laptop. He didn't chew it strongly.  It just bobbed about at the cadence of his contemplative typing.
	</p>
	<p>
		He was writing the first pages of <em>Cannot Stand</em> after two decades of absent-minded gestation over "what to write?" and a thousand other natural shocks with which the young heir had distracted himself.  He was 39, already quite old to be just starting his first novel. A younger man, whose name he'd already forgotten was sleeping nearby.  Oddly, a tepid romance with an indistinguishable boy from the American Midwest had tapped his latent creativity.  It sprang forth from Nowhere<a href="#" onclick="return toggle_element('ch4_2');">.</a>
	</p>
	<div class="xpand" id="ch4_2">
		<p>
			This was, for me, one of the great beauties of Cannot Stand: that for the longest time, I was utterly unable to trace its influence.  For so many of the texts I'd analyzed over my career, the antecedents had been trivially easy to detect.  Moore led to Bronte, regurgitated into Shelley, remixed into Wells, multiplexed across Asimov, Orwell, fermented across a century of dystopianism, and distilled into yours truly. 
		</p>
		<p>
			But for JT, there was a pronounced gap.  I couldn't discern what thread of his craft connected him.  AS it turns out, there was another player in the pla, but one I couldn't see.  This is ultimately what led me to cross over from public work to private life.  JT was my obsession until I discovered that the gap was not in him.  It was in myself.  I couldn't see the critical piece of JT, not because it wasn't there, but just because I wasn't allowed to see it.  I had never been able to see the M&mdash;&mdash;.
		</p>
	</div>
</div>
<p>
Now he was taking on "the real focus of the novelist," in his words, "the perfect description of the human condition, captured in the moment as it is lived, and passed on to the world."  I was worried.  After all, I'd been working my ass off trying to figure out how to perfectly describe what it means to be
human, and I certainly didn't want anyone else getting there first.  I believed JT was just brilliant enough to manage it.  Needless to say, I immediately started using my skills at online surveillance<a class="v2" href="#" onclick="return toggle_element('ch4_2');"><sup>*</sup></a> to track his every activity. <span class="xpand" id="ch4_2"><i> And if you are wondering how I'm able to sift through all of this online data, you should know that for someone with the right connections, it's basically just a matter of money at this point.</i></span>
</p>

<p>
Unfortunately, my methods of stalking him became particularly difficult because he was going to his parents' island estate to live "off-grid" for the remainder of his writing.  Unless someone is around their electronic devices, I'm not really able to hack in and track their activity.
</p>
<p>
That's why I was so thankful when on the third day of his isolation at 3:30 in the afternoon he began to cheat on his "media abstinence."  He'd brought his phone only for emergencies, but, after just three days staring into the abyss of his soul, he decided he needed to masturbate.
</p>
<p>
He was about to power down his phone again when a push notification popped onto his screen from his email.  He had 57 unread messages, but, of those, he would consider only one as important enough to catch his attention.  It was from his ex-fiancé and the person he respected the most in the world, Cass Adler, from whom he'd separated approximately six months prior.  The pair broke off the engagement amicably, ostensibly for divergent career focuses, but in reality, JT had found it difficult to cope with Cass's ambitions, or rather, his successes.
They had become distant quickly.
</p>
<p>
JT's most recent novel, his third, was a memoir of their relationship, full of introspection.  It hadn't garnered the response JT had hoped for.
</p>
<p>
The email Cass had sent was a writing tip.
</p>
<p>
"I just read your book," Cass wrote, "You'll attract more attention if you go back to focusing on issues of identity politics."
</p>
<p>
"Cass, you never cease to amaze me," JT said to himself aloud, "detached as ever, even if the story is about you."
</p>
<p>
His opinion didn't come as much of a surprise to JT.  Cass was a "numbers person."  He'd trained at Kagaku Kōkoku for 3 years after graduate school.  Then he appropriated the techniques of <em>quantitative influence</em> that had been invented there when he opened his own consultancy firm in New York.  When they were together, Cass had spent a great deal of effort trying to streamline JT's work and make it more fit for "mass-consumption," which no doubt had a significant impact on JT's own commercial success.
</p>
<p>
At the bottom of the email Cass linked to 3 documents. First, he linked to a spreadsheet he had compiled with the list of all the recent releases from Congo Publishing's Direct to Consumer book sales.  Cass had previously quantified the constraints that made for "the perfect novel," optimized for marketability: 45,000 words, five protagonists, two morally ambiguous villains, a sexually charged or overtly violent scene at least every third chapter.  (My own measurements disagree with Cass's, by the way.)
</p>
<p>
The second link Cass sent was an article on an up-and-coming Twit-auteur who's compendium of 120 character microblog snippets had recently become the focus of nearly the entire literary world.  The third was a page from the Bowery Institute Review of Books, published by one of JT's idols, explaining that unifying ideas and a common thread of humanity were no longer fashionable in modern literature.  He'd written that "the modern human psyche would remain fragmented into its own diabolical quest for self-centered motivations."
</p>
<p>
JT read what Cass had sent. Then he finished perusing the rest of his boring spam-bot generated emails and shut his phone back off.
</p>
<p>
I'm not sure if he got it out of his mind even for a second.  All I know is that by 7:45, about 5 minutes after sunset, he turned the phone back on and started composing a response.
</p>
