<h4 id='ch6'>The Hitch-hiker</h4>

<p>Back on the Downeaster Train, Cass was continuing to read my email to him:</p>

<div class="email">

<p>  So, Cass, I'm sure you're wondering how I know about Kagaku, and, more importantly, how I know about your connection to them.  </p>

<p>I know because of what you and Kagaku did to the hitch-hiker, Gwendolyn Docstaeder.</p>

<p>
Gwendolyn first appeared to me out of archived reel-to-reels, spinning up her voice out of decades old recordings.  I'd been parsing truckers' CB radio transmissions, culled from the airwaves of the American midwest.  Of the millions of transcripts that I'd analyzed, I'd detected only a few hundred drivers that had picked up hitchhikers, and of the few hundred hitchhikers I detected, fewer than ten were women.
</p>
<p>
She stood out for another reason as well. She had the strange affliction of voicing her every thought out-loud, albeit in an impenetrable code that it took me years to decipher. Nevertheless, even in the earliest recordings I could find of her, she was already constantly speaking to herself in raw, garbled bursts of fractured syllables, trickling up out of that direct connection between her brainstem and trachea.
</p>
<p>The first recording:
<em>Thank god, back inside, it was colder today. Goddam that's a hell of a mountain.  Lights on that car, getting darker, glad you got in here, hope it's not like the last time.  Keep your mouth shut now.</em>
</p>
<p>
She rambled on. Fairly innocuous, but the trucker couldn't understand her, and it unnerved him. <em>He's staring, </em>she mumbled to herself, <em>idiot, doesn't have an idea what you're going through. Just get us a few more miles now.</em>
</p>
<p>
"Just talking to myself," she said to him, trying to sound cheerful. She didn't want to compulsively emit that ricochet of sublingual clicks and murmurs—every little detail she thought in the back of her mind. She kept the muttering as quiet as she could, but who can ever stop their minds from thinking?
</p>
<p>
Using the CB recordings, I pieced together that she'd eventually found her way into a mental health facility in Nevada. She'd been getting better.  She was still there up until three years ago, when you located her for Philip Senke, the CEO of Kagaku Kōkoku.
</p>

</div>