<h4 id='ch5'>Identity</h4>
<p>
The operating webcam turned back on twelve minutes after the last dissection was already finished.  The poor octopus body was still bobbing at the top of the aquarium.  Ezzy was too focused on the surgery to even bother putting it to sleep after it had given up its arms to her.
</p>
<p>
She was sewing the arms into an array of microchips while the octopus watched her.
</p>
<p>
The octopus is a singular creation of all the creatures great and small.  It is, by most commonly accepted scientific estimates, the only living being that has its consciousness broadly distributed across multiple subsections of its body.
</p>
<p>
The octopus appears to be an embodiment of 8 separate minds housed, physically, at the base of each of its arms.  Each is connected through a narrow band of nerves, through which they communicate like separate consciousnesses speaking in an almost instantaneous language.
</p>
<p>
The arms grow up together into more of a tightly coupled community as opposed to a single conscious identity.  They continue to operate mostly independently having their own thoughts and desires, apparently communicating directly to each other arm. <span class="v6">Body of the Mind. The mind is a strange and complex entity that can be manipulated by the one who controls.</span>   The body only enters the picture to deal with some of the shared activities like eating and spraying ink.
</p>
<p>
Ezzy was exploiting the melding of the separate minds in the octopus arms to carry out her experiments.  <span class="notv6">The arms wriggled in their harnesses carrying out their tasks, asking confused questions to each other.</span>  <span class="v6">But the situation was no longer a problem of one's imagination.</span>   Ezzy set her alarm and popped a downer to put herself instantly into a deep recuperative sleep.
</p>
<p>
She woke three hours later, tossed the dead arms into the biohazard bin, checked the integrity of the data, stripped her clothes and stepped into the bath she'd prepped the night before.
</p>
