<h4 id='ch5'>Identity</h4>
<p>
Back in her lab, Ezzy's operating webcam turned back on twelve minutes after the last dissection was already finished.  The poor octopus body was still bobbing at the top of the aquarium.  Ezzy was too focused on the surgery to even bother putting it to sleep after it had given up its arms to her.
</p>
<p>
She was sewing the arms into an array of microchips while the octopus watched her.
</p>
<p>
The octopus is a singular creation of all the creatures great and small.  It is, by most commonly accepted scientific estimates, the only living being that has its consciousness broadly distributed across multiple subsections of its body.
</p>
<p>
The octopus appears to be an embodiment of 8 separate minds housed physically at the base of each of its arms.  Each is connected through a narrow band of nerves, through which they communicate like separate consciousnesses speaking in an almost instantaneous language.
</p>
<p>
Ezzy was exploiting the melding of the separate minds in the octopus arms to carry out her experiments, separating and refusing the neurons to study just how they bond. As she pulled the last suture tight, she set her alarm and used a bit of leftover medication to put herself instantly into a deep recuperative sleep.
</p>
<p>
She woke three hours later, tossed the dead arms into the biohazard bin, double checked the integrity of the data, and stepped out of her garage and into her car to return to the Institute's marine center.
</p>
