<p>
The first direct recordings I have of Gwendoly were of her and her boyfriend at their home on Christmas morning. She'd been in therapy for her condition for many years now.  Her mutterings had become quieter, more subtle and controlled, but she was still spilling all her internal dialogue.
</p>
<p>
"Do you like it?" her fiancé asked, as he handed her a gift.
</p>
<p>
<em>Oh god, What the hell will you do with it, </em>she muttered in her mangled code, <em>well, you better pretend that you like it.</em>
</p>
<p>
He couldn't understand what she was thinking even though she stammered it out loud.  Her mutterings had evolved into a lightning fast burst of her ticking tongue with just a bit of hummy gurgling in her throat. Completely
incomprehensible to the untrained. Her fiancé had just given her a smartphone. It was already powered up and passively recording their conversation, which I would later exfiltrate from Kagaku's servers.
</p>
<p>
"Oh amazing!" she exclaimed, "I just saw someone on one of these the other day."<em> Looked like a dopey shithead, with his head down in it. Wondered what he was doing at first </em>"I was so curious what he was doing on it."
</p>
<p>
She'd become well-practiced in cutting back and forth between her muttering and speaking out loud.
</p>
<p>
<em>He doesn't know what the hell you like, but you should just shut the hell up and remember you're lucky as shit that he even puts up with you, you broken wretched sack of… </em>"Thank you so much, darling, I love it." 
</p>
<p style="text-align: center; text-indent:0">
*
</p>
<p>
So why did Gwendolyn mutter her every thought out loud?  Based on the reports of the doctors at her clinic, it was a form of minor schizophrenia.  But they were wrong.  They didn't know about the disease that severed her corpus callosum. They didn't know that they were hearing the two halves of her brain talking back and forth due to the missing bundle of nerves that were supposed to connect them. <span class="v6">A surgeon could have told Kagaku that the part of the brain that was responsible for speech and thought was the right hemisphere.</span>   That took experiments and medical tests that only Kagaku could afford.
</p>
<p>
I can give you a bit of context about what a severed corpus callosum means. Researchers had been studying the effects for decades. They'd made many astonishing observations about the working of the human mind in the separate halves of the brain when the unifying band of nerves had been severed.
</p>
<p>
In most cases the two halves of the brain seemed to allow their separate identities to coexist in almost total isolation, only sometimes sharing the controls of their body's motor skills.  For example, the first person to be followed systematically after a <em>corpus callosum</em> severing was recorded to have had one arm attempt to dress himself while the other (presumably lazier) hemisphere worked against him and tried pulling him back to bed.  In numerous experiments with that individual and others, researchers were able to show that
information viewed through only one eye (and therefore only accessible to one half of the brain) could not be transferred to the other side to carry out a task with the opposite arm.
</p>
<p>
But Gwendolyn's story didn't quite play out the same way.  The specific way in which the infection
in her brain spread caused a very slow dissociation between the two halves.  So rather than the rapid, "snip" of the previous subjects, Gwendolyn's mind had time to adapt to the oncoming separation.
</p>
<p>
As the identity spread across the halves of her brain felt itself being torn apart, it came up with a plan.  As right-lobe started to feel itself becoming walled off from the ears, and eyes, and without control of the body in which it was trapped, it started to spew its thoughts straight to the only connection it still had control over: the lips and throat on one side of her face.
</p>
<p>
All the lightning fast muttering sounded like an unintelligible blur to her friends and family, but little by little, I was able to piece together her internal language. After listening to her for years, I could understand what her problem.
</p>
<p>
In my estimation, Gwendolyn was—and always had been—two separate people, occupying the same body.  Before her accident they both negotiated for control, but after the severing of her <em>corpus callosum</em>, the real Gwendolyn—the mind who'd been the center of her personality before the disease took hold—she kept most of her intellect, but was only left with a few minimal motor functions. There was the real Gwendolyn inside, and then there was the vessel, another personality acting outside of Gwendolyn's control.
</p>