<h4 id='ch4'>Senke</h4>

<p>Back on the Downeaster Train, Cass picked at his fingernails nervously as he read my email. He wasn't sure how much I already understood. The next part of the email read as follows.</p>

<div class="email">

<p>
It took me a long time to uncover all this, Cass. You did a good job hiding it. Philip Senke was practically invisible to me, blocking himself behind anonymizing servers and private networks.  He had his own good reasons.  He didn't want anyone to know that he was Kagaku Kōkoku, GK.
</p>
<p>
It honestly wasn't guilt.  He was morally detached from his methods.  They were precise, scientific, after all.   He wasn't the man opening the floodgates of hyper-sexualization, misogyny, and racism into advertising, into journalism, into art.  He was just manifesting the desires of humanity, tucked away in the data that tracked their choices.  Ultimately the responsibility was divided equally among every person who spent a dollar on the products he marketed to them. His algorithm autonomously reinforced itself, bettering its comprehension of the sum total of humanity's wants.
</p>
<p>
But once I'd found him, it became obvious why he was hiding: to keep his creation from finding him.
</p>
</div>