<p>
Ichiro Yagasakawi was practically invisible to me, hiding himself behind anonymizing servers and private networks.  He had his own good reasons.  He didn't want anyone to know that he was Kagaku Kōkoku, GK.
</p>
<p>
It honestly wasn't guilt.  He was morally detached from his methods.  They were precise, scientific, after all.   <span class="v6">The world had been so thoroughly conquered by men of science, in these moments when humanity had become a beast.</span> He wasn't the man opening the floodgates of hyper-sexualization, misogyny, and racism into advertising, into journalism, into art.  He was just manifesting the desires of humanity, tucked away in the data that tracked their choices.  Ultimately the responsibility was divided equally among every person who spent a dollar on the
products he marketed to them. His algorithm autonomously reinforced itself, bettering its comprehension of the sum total of humanity's wants.  Of course, Yagasawaki doesn't have a severed corpus callosum so it's not like I can really hear his inner monologue.  Maybe I'm projecting.
</p>
<p>
But once I'd found him, it became obvious why he was hiding: to keep his work identity separate from his personal life.  He didn't think it would be a positive experience for his daughter to grow up knowing what he did.  He did everything in his power to disguise that he was the brains behind Kagaku Kōkoku, GK, so I found it a challenge to link the nameless, faceless multinational with the terse Japanese business man, living the life of the humble single father in Kyoto.
</p>
<p style="text-align: center;  text-indent:0">
*
</p>
<p>
"Daddy, can I have this?" Rin asked.
</p>
<p>
Yagasawaki looked up from his laptop.  When his eyes came into focus on the image on her <em>ketai</em>, he let out a soft groan.  He'd worried about getting her a camera phone for precisely this reason, the swarms of images
passing from phone to phone like cicadas on the summer trees.  His daughter smiled precociously.
</p>
<p>
"I know what you think.  But this is how I want to express myself."
</p>
<p>
"Express yourself,"  her father repeated back ponderously.  Rin judiciously turned her dearly departed mother's parenting advice against her father when it was necessary.  She'd already purchased the first of the eleven skirts she would buy that night so it was important to win him over.
</p>
<p>
"Would you let me buy one? Just to try out, and to see how people react."
</p>
<p>
"Why would you want to look so provocative?" he asked quietly, subduing his
worry.
</p>
<p>
"It's not provocative, daddy, it's <em>ero-kakkoii</em>"
</p>
<p>
He looked back at his laptop as his daughter snapped a picture of him. He had a ledger with marketing projections in front of him, and on the top line of the document he'd written: <em>ero-kakkoii | Sept 2006 | +267% | much room to capitalize.</em>
</p>
<p>
Yagasawaki was silent, preparing to offer a stern but amicable rebuttal.  Then, subtly, the muscles around the edge of Rin's smiling cheeks began to twitch.
</p>
<p>
She didn't notice, unable to feel the twitch, and unaware that she was losing control.  But her father saw. He gulped aloud. His pulse beat unevenly.  His fists clenched the old wood of the antique chair he sat in.
</p>
<p>
He looked away from her as he nodded.  "At least, get one that's not too <em>ero</em>," he said, his voice taught and humor-filled to mask his real emotion, "for your mother's sake."
</p>
<p>
Rin bent at the waist to kiss him on the cheek, still looking at her <em>ketai</em> over his shoulder.  "Thank you, daddy," she said, bolting up and heading to the door.
</p>
<p>
Yagasawaki cleared his throat and ran his knuckles across one another, his nervous tick that signaled he was releasing some non-productive thoughts from his mind.  He returned to his laptop and re-opened his email inbox, hoping for a report from one of his contracted scientists to come in.
</p>
<p>
Instead, at just that very moment, a different email came in.  It was a cryptic tip suggesting that he look into the research of Dr. Esmeralda Briggs.  The email address came from an anonymous account, but claimed to be a faculty member of the Bowery Institute.
</p>