<h4 id='ch7'>Senke</h4>

<p>
Philip Senke was practically invisible to me, hiding himself behind anonymizing servers and private networks.  He had his own good reasons.  He didn't want anyone to know that he was Kagaku Kōkoku, GK.
</p>
<p>
It honestly wasn't guilt.  He was morally detached from his methods.  They were precise, scientific, after all.   <span class="v6">The world had been so thoroughly conquered by men of science, in these moments when humanity had become a beast.</span> He wasn't the man opening the floodgates of hyper-sexualization, misogyny, and racism into advertising, into journalism, into art.  He was just manifesting the desires of humanity, tucked away in the data that tracked their choices.  Ultimately the responsibility was divided equally among every person who spent a dollar on the products he marketed to them. His algorithm autonomously reinforced itself, bettering its comprehension of the sum total of humanity's wants.  Of course, Senke doesn't have a severed corpus callosum so it's not like I can really hear his inner monologue.  Maybe I'm projecting.
</p>
<p>
But once I'd found him, it became obvious why he was hiding: to keep his work identity separate from his personal life.  He didn't think it would be a positive experience for his daughter to grow up knowing what he did.  He did everything in his power to disguise that he was the brains behind Kagaku Kōkoku, GK, so I found it a challenge to link the nameless, faceless multinational corporation with the terse balding business man, living the life of the humble single father in Kyoto.
</p>