<h4 id='ch7'>Rin</h4>
<p>
"Daddy, can I have this?" Rin asked.
</p>
<p>
Senke looked up from his laptop and curled his eyebrow at his daughter.  When his eyes came into focus on the image on her phone, he let out a soft groan.  His daughter smiled precociously.
</p>
<p>
"I know what you think.  But this is how I want to express myself."
</p>
<p>
"Express yourself,"  Senke repeated back ponderously.  Rin judiciously turned her deceased mother's parenting advice against her father when it was necessary.
</p>
<p>
"Would you let me buy one? Just to try out, and to see how people react."
</p>
<p>
"Why would you want to look so provocative?" he asked quietly, subduing his
worry.
</p>
<p>
"It's not provocative, daddy, it's <em>ero-kakkoii</em>"
</p>
<p>
Senke looked back at his laptop as his daughter snapped a picture of him. He had a ledger with marketing projections in front of him, and on the top line of the document he'd written: <em>ero-kakkoii, Sept 2014, +267%, much room to capitalize.</em>
</p>
<p>
Senke was silent, preparing to offer a stern but amicable rebuttal.  Then, subtly, the muscles around the edge of Rin's smiling cheeks began to twitch.
</p>
<p>
She didn't notice, unable to feel the twitch, and unaware that she was losing control.  But her father saw. He gulped aloud. His pulse beat unevenly.  His fists clenched the old wood of the antique chair he sat in.
</p>
<p>
He looked away from her as he nodded.  "At least, get one that's not too <em>ero</em>," he said, his voice taught and humor-filled to mask his real emotion, "for your mother's sake."
</p>
<p>
Rin bent at the waist to kiss him on the cheek.  "Thank you, daddy," she said, bolting up and heading to the door.
</p>
<p>
Senke cleared his throat and ran his knuckles across one another.  He returned to his laptop and re-opened his email inbox, hoping for a report from one of his contracted scientists to come in.
</p>
<p>
Instead, at just that very moment, a different email came in from an anonymous source.  It was a cryptic tip suggesting that he look into the research of Dr. Esmeralda Stratton.
</p>
<p>
As I'm sure you are beginning to realize, that email actually came from me.
</p>

