<h4 id='ch8'>Two Gwendolyns</h4>

<p>The Downeaster train was halfway to Boston, and Cass was reaching the end of my message to him. </p>

<div class="email">

<p>
So, Cass, why did Gwendolyn mutter her every thought out loud?  It was the result of the same disease that killed the Philip Senke's wife, and the one that he's trying to save his daughter from.  </p>

<p>The disease worked by dissolving the nerves of her corpus callosum.  I can give you a bit of context about what a severed corpus callosum entails.
</p>
<p>
In most cases the two halves of the brain seemed to allow their separate identities to coexist in almost total isolation.  Researchers have been able to show that information viewed through only one eye could not be transferred to the other side to carry out a task with the opposite arm.
</p>
<p>
This was where Gwendolyn developed all the lightning fast muttering that sounded like an unintelligible blur to her friends and family. It was the two halves of her brain learning how to communcate with one another out loud. As I researched her, little by little, I was able to piece together her mind's internal language.
</p>

<p>That was when I reached out to her.  At the time, I didn't know why contacted her. I just felt myself sending her a message almost against my own will.  We corresponded for months while I studied her.</p>

<p>Then one night, three years ago, you brought that to an end.</p>
<p>
"Terise," Gwendolyn wrote to me, "do you ever get the feeling that there's someone out there listening to you?"
</p>
<p>
Did she know I was listening to her? I won't ever know.
</p>
<p>
That same night at 2:04 AM, the power to her apartment was cut. I couldn't see what happened to her that night when Senke's agents obducted her. It took me two months to find her again, and by then it was already too late to save her. </p>
<p>
That was my breaking point, Cass. That was the moment I started this search that led to you and Senke. And circuiting the ouroboros, led back to myself.
</p>
</div>

