<h4 id='ch8'>The Hitch-hiker</h4>

<div class="email">

<p>  Now Cass, because I'm sure you don't remember her, allow me to reintroduce you to Gwendolyn Docstaeder.</p>

<p>
Gwendolyn first appeared to me out of archived reel-to-reels, spinning up her voice out of decades old recordings.  I'd been parsing truckers' CB radio transmissions, culled from the airwaves of the American midwest.
</p>
<p>
The most interesting perturbation to the life of the trucker was always the introduction of the outgroup guest stars: the hooker, the state trooper, or—most memorable of all—the lonely, woebegone hitchhiker. Of the millions of transcripts that I'd analyzed, I'd detected only a few hundred drivers that had picked up hitchhikers, a dwindling number as mom-and-pop truckers were displaced by large corporate trucking conglomerates, who tended to crack down on the practice. Of the few hundred hitchhikers I detected, fewer than ten were women.  The trucker conversations were mostly pretty fucking mundane, but Gwendolyn hitch-hiking through semi cabs caught my attention.
</p>
<p>
She stood out for another reason as well. She had the strange affliction of voicing her every thought out-loud, albeit in an impenetrable code that it took me years to decipher. Nevertheless, even in the earliest recordings I could find of her, she was already constantly speaking to herself in raw, garbled bursts of fractured syllables, trickling up out of that direct connection between her brainstem and trachea.
</p>
<p>
<em>Thank god, back inside, it was colder today. Goddam that's a hell of a mountain.  Lights on that car, getting darker, glad you got in here, hope it's not like the last time.  Keep your mouth shut now.</em>
</p>
<p>
She rambled on. Fairly innocuous, but the trucker couldn't understand her, and it unnerved him. <em>He's staring, </em>she mumbled to herself, <em>fucking ass, doesn't have an idea what you're going through. Just get us a few more miles now.</em>
</p>
<p>
"Oh just talking to myself," she said to him.  She tried to keep the muttering quiet, but who can ever stop their minds from thinking?
</p>
<p>
She didn't want to compulsively emit that ricochet of sublingual clicks and murmurs—every little detail she thought in the back of her mind. It was a side-effect of a rare disease that had torn through her nervous system and severed her corpus callosum, the bundle of nerves connecting the left and right halves of the brain.
</p>
<p>
I eventually pieced together where she ended up in the scattered documents I could find. She'd found her way into a mental health facility in Reno. She'd been getting better.  She was still there up until five years ago, when you located her for your former boss, Philip Senke.
</p>

</div>