<p>
JT edited his two line response to Cass for nearly three hours.  The highlights of the revision process were as follows.
</p>
<p>
<em>First Draft: </em>Cass, I disagree with that way of looking at it. I think
if I write what I'm trying to write people will be able to see past the trivial
interpersonal distractions you've focused their minds on.
</p>
<p>
<em>Low Point:</em> You and the other fucking manipulative quants have damned us all.
</p>
<p>
<em>Final Version: </em>Maybe you're right.
</p>
<p>
He didn't send the message.  His emotions were dried up. 
</p>
<p>
He went back to writing, but not to his rusty, nostalgia-laden typewriter. This time, he was writing on his phone.
</p>
<p>
He was composing microblogging messages. Firing them off in rapid succession:
</p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 strip">
      <img src="https://a.ttent.io/n/jt.jpeg" alt="profile image" />
      <strong>JT</strong> <span class="light"> @Gororo</span><br>
      <a href="cass_adler" onclick="return false;">@cass_adler</a>: for that time you told me you wished Disney movies were still racist.<br>
      <div class="summary">
        <span class="buttons">
          <a href="reply" onclick="return false;"><i class="fa fa-reply"></i> </a>
          <a href="retweet" onclick="return false;"><i class="fa fa-retweet"></i> </a>
          <a href="star" onclick="return false;"><i class="fa fa-star"></i> </a>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 strip">
      <img src="https://a.ttent.io/n/jt.jpeg" alt="profile image" />
      <strong>JT</strong> <span class="light"> @Gororo </span><br>
      <a href="NATALIABURNS4EVER" onclick="return false;">@NATALIABURNS4EVER</a>: How can you live with yourself?  After the night you and <a href="karlveggies" onclick="return false;">@karlveggies</a> slammed that rare beef down your throats from a fucking species you all made go extinct.<br>
      <div class="summary">
        <span class="buttons">
          <a href="reply" onclick="return false;"><i class="fa fa-reply"></i> </a>
          <a href="retweet" onclick="return false;"><i class="fa fa-retweet"></i> </a>
          <a href="star" onclick="return false;"><i class="fa fa-star"></i> </a>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 strip">
      <img src="https://a.ttent.io/n/jt.jpeg" alt="profile image" />
      <strong>JT</strong> <span class="light"> @Gororo </span><br>
      <a href="YoriYoris" onclick="return false;">@YoriYoris</a>: It's kind of sad that your dead dad never found out about that intel you passed to that terror group trying to overthrow Israel.
      <div class="summary">
        <span class="buttons">
          <a href="reply" onclick="return false;"><i class="fa fa-reply"></i> </a>
          <a href="retweet" onclick="return false;"><i class="fa fa-retweet"></i> </a>
          <a href="star" onclick="return false;"><i class="fa fa-star"></i> </a>
        </span>
      </div>
    </div>
  </div>
</div>

<p>
He continued. Some of them, from the best I can tell, were quite transparently untrue.  Perhaps he was misremembering the situations.  At any rate, his messages didn't go unnoticed.
</p>
<p>
"Acclaimed author JT Guerrero, breaking his isolation to decry secret hypocrisies of his closest friends," was the headline on a pop-culture website.
</p>
<p>
The initial response was generally negative, as those involved and those who knew they could become involved decried it as a tawdry publicity stunt.  But from the very beginning, the public was enrapt, fixated as
ever on the latest trainwreck.  This stream of slander focused on an aloof, intellectual elite somehow felt rawer, realer, and just more delicious than standard tabloid trash.
</p>
<p>
JT kept spilling and spilling. For three days he wrote and wrote. His messages jumped amongst every stage of his life.  Slowly every detail he could remember, every plot point from the wicked deeds of his friends was excavated and let go.
</p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 strip">

      <img src="https://a.ttent.io/n/jt.jpeg" alt="profile image" />
      <strong>JT</strong> <span class="light"> @Gororo </span><br>
      <a href="rawlins" onclick="return false;">@rawlins</a>: You should tell your wife about your son's profiteering on relief rations in the Peace Corps.
      <div class="summary">
        <span class="buttons">
          <a href="reply" onclick="return false;"><i class="fa fa-reply"></i> </a>
          <a href="retweet" onclick="return false;"><i class="fa fa-retweet"></i> </a>
          <a href="star" onclick="return false;"><i class="fa fa-star"></i> </a>
        </span>
      </div>
    </div>
  </div>
</div>
<p>
And, as each friend awaited the betrayal, JT's own baggage started getting
released in turn from his friends.
</p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 strip">
      <img src="https://a.ttent.io/n/ct.jpeg" alt="profile image" />
      <strong>RR</strong> <span class="light"> @rawlins </span><br>
      <a href="rawlins" onclick="return false;">@Gororo</a>: At least I never molested anybody in college...
      <div class="summary">
        <span class="buttons">
          <a href="reply" onclick="return false;"><i class="fa fa-reply"></i> </a>
          <a href="retweet" onclick="return false;"><i class="fa fa-retweet"></i> </a>
          <a href="star" onclick="return false;"><i class="fa fa-star"></i> </a>
        </span>
      </div>
    </div>
  </div>
</div>
<p>
Later, as more and more got caught up in the fervor, seeing the reaction and crying out for the same attention JT was receiving, they started outing others, revealing every lie they knew.  For every disgusting memory, three more would echo from another corner of the internet.  All of them just true enough to be believed, just damning enough to corrode the heart of the next person to see them.  It spread on from account to account.<br>
</p>