<h4 id='ch9'>Link</h4>
<p>
Two weeks from now Philip Senke will set up a meeting with Ezzy.  He will do it because he wants to save his daughter, and he knows this is the only way.
</p>
<p>
"So what have you determined?" Senke will ask immediately when his face appears on the screen.
</p>
<p>
Ezzy will pull up the diagram showing the one octupus arm, the injection apparatus, the neural-machine interface.  There will be a graph showing dosage versus number of neural connections.
</p>
<p>
"Here you can see the brain housed in each arm is talking to this little electronic chip and that chip is relaying the information back and forth. Any neural system can be connected, including the human corpus callosum."
</p>
<p>
Senke will chuckle. "And just how did you get this to work when no one else could?"
</p>
<p>
Ezzy will dump the contents of a bottle onto the counter in front of her laptop.
</p>
<p>
"Have you ever tried this?" she'll ask.
</p>
<p>
"And that is?"
</p>
<p>
"Good old fashioned Adderall, of all things.  I used it a ton as a kid.  I never would have guessed.  Has Rin ever used Adderall?"
</p>
<p>
Senke's stern face will break out red with anger, but he'll keep his voice tight and professional.  "Do not mention my daughter's name in relation to this project ever again."
</p>
<p>
"Alright then," Ezzy will say, "what I'm trying to get at is that in order for a neural interface to be connected, such as the one we'll need for..." She'll catch herself before she says Rin's name again.
</p>
<p>
"To create a neural interface you need the brain to think it's talking to itself," she'll say, standing up and pacing away from her webcam, "and the problem is that in this state, the brain spends too much time emitting output and they never really get time to digest their input. So we have to trick them into actually listening to each other. And that's how you coax them to fuse together.  They start to think like the same mind, like the way we hear our own voice in our heads."
</p>
<p>
"I see," Senke will respond.
</p>
<p>
Ezzy will be taken aback. "You do?" she'll ask.  It's something she can only barely understand herself. Multiple minds enrapt with complete attention for one another, merging into one.
</p>
<p>
Senke will nod slowly and look across his room to a photo.
</p>
<p>
"My wife used to say..." he'll start, but cut himself off.
</p>
<p>
Ezzy will shudder at Senke's sudden sincerity, but Senke must finish this thought.
</p>
<p>
"My wife would tell me how she knew I loved her because she could always hear me think it just before I'd say it."
</p>


