<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ site.author }}, {{ site.title }}">
    <meta name="author" content="{{ site.author }}">
    <meta property="og:title" content="a.ttent.io/n">
    <meta property="og:description" content="A Sh0rT n0vEl FoR oUr FrAcTuReD mInDs">
    <meta name="og:image" content="https://a.ttent.io/attention.png">
    <meta property="og:url" content="https://a.ttent.io/n">

    <meta name="twitter:title" content="a.ttent.io/n">
    <meta name="twitter:description" content="A Sh0rT n0vEl FoR oUr FrAcTuReD mInDs">
    <meta name="twitter:image" content="https://a.ttent.io/attention.png">
    <meta name="twitter:card" content="summary_large_image">

    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script>
        possibleVersions = ['1', '2', '3', '4', '5', '6', '7']
        search = window.location.search
        if (! search.includes('v=')){
            var rndm = Math.floor(Math.random() * possibleVersions.length)
            contentVersion = possibleVersions[rndm]
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?v=' + contentVersion;
            window.history.pushState({ path: newurl }, '', newurl);
        } else{
            contentVersion = search.split('v=')[1]
            if (contentVersion.includes('&')){
                contentVersion = contentVersion.split('&')[0]
            }
        }

        function hide_class(class_name){
            var tohide = document.getElementsByClassName(class_name);

            for (var i = 0; i < tohide.length; i ++) {
                tohide[i].style.display = 'none';
            }
        }
        function show_class(class_name){
            var toshow = document.getElementsByClassName(class_name);

            for (var i = 0; i < toshow.length; i ++) {
                toshow[i].style.display = 'inline';
            }
        }

        document.addEventListener('readystatechange', event => {

            if (event.target.readyState === "interactive") {   
                if (contentVersion == '2'){
                    hide_class('notv2')
                    show_class('v2')
                }
                if (contentVersion == '3'){
                    var div = document.getElementById('ch2_wrapper')
                    div.parentNode.insertBefore(div, document.getElementById('ch1_wrapper'))
                    var div = document.getElementById('ch3_wrapper')
                    div.parentNode.insertBefore(div, document.getElementById('ch1_wrapper'))
                }
                if (contentVersion == '4'){
                    var div = document.getElementById('ch2_wrapper')
                    div.parentNode.insertBefore(div, document.getElementById('ch1_wrapper'))
                }
                if (contentVersion == '5'){
                    var div = document.getElementById('ch3_wrapper')
                    div.parentNode.insertBefore(div, document.getElementById('ch1_wrapper'))
                    var div = document.getElementById('ch2_wrapper')
                    div.parentNode.insertBefore(div, document.getElementById('ch1_wrapper'))
                    hide_class('notv5')
                }
                if (contentVersion == '6'){
                    hide_class('notv6')
                    show_class('v6')
                }
                if (contentVersion == '7'){
                    hide_class('notv7')
                    show_class('v7')
                }
                
                

            }
        });
    </script>
    <script>
        function makeid() {
          var text = "";
          var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

          for (var i = 0; i < 20; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

          return text;
        }
        var userID = makeid();
        dataLayer = [{'userID': userID,'contentVersion':contentVersion}];
    </script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K6BCB5Z');</script>

    <script>
        function toggle_element(el) {
            try{
                ga('send', {
                  hitType: 'event',
                  eventCategory: 'toggle',
                  eventAction: el,
                  eventLabel: contentVersion+':'+userID+':nah',
                  eventValue: 1
                });
            }catch(e){
                console.log('failed ga')
            }
            document.getElementById(el).style.display = 'inline';
            setTimeout(function(){
                document.getElementById(el).style.opacity = 0.75;
                if el.includes('load_more'){
                    window.scrollBy(0, 200);
                }
            }, 10);
            return false;
        }
        function toggle_all_elements(){
            var allElements = document.getElementsByTagName("*");
            for (var i = 0, n = allElements.length; i < n; ++i) {
              var el = allElements[i];
              if (el.id && (el.tagName != 'H4')) { toggle_element(el.id); }
            }
            return false;
        }
        
    </script>

</head>
